/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
    
}
.lemon-regular {
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
  }
  .grape-nuts-regular {
    font-family: "Grape Nuts", cursive;
    font-weight: 400;
    font-style: normal;
  }
.font-style-1{
    font-family: 'Times New Roman', Times, serif;
}  
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  a:hover{
    color: var(--red);
    cursor: pointer;
  }

  i:hover{
    color: #f42625;
    cursor: pointer;
  }

/* navbar styling */
#navbar-items{
    gap: 30px;
}
#navbar{
    padding: 0px 10px;
}

#main-logo{
    width: 165px;
}
.nav-link{
    text-decoration: none;
}
#franchise{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 20px;
    cursor: pointer;
}
#order-online{
    background-color: var(--red);
    border: 0px;
    padding: 15px 20px;
    cursor: pointer;
}
#red{
    color: var(--red);
}
#green{
    color:green;
}
#btn-icon{
    padding: 5px 7px; 
}

#children-images{
    gap: 30px;
}
#get-direction{
    background-color: var(--black);
    border-radius: 30px;
    padding: 18px 30px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
#get-feedback{
    border-radius: 30px;
    padding: 18px 30px;
    border: 1px solid #ffffff;
    background-color: var(--red);
    color: var(--white);
}
#get-direction-1{
    background-color: green;
    border-radius: 30px;
    padding: 18px 30px;
    border: 1px solid #ffffff;
    cursor: pointer;

}
.container{
    background-color: #0f0f0f;
    padding: 12px 12px 12px;
    margin-bottom: 32px;
    min-height:430px ;
    border-radius: 10px;
    text-align: center;
}
.border-1{
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.form-group{
    margin-bottom: 1rem;
}
.form-control{
    height: 44px;
    display: block;
   width: 850px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    background-color: #ffffff;
    color: #495057;
    border-radius: 0.25rem;

}

/* font classes start */

.font-size-1{
    font-size: 25px;
}
.Spacing{
    letter-spacing: 5px;
}
.font-size-2{
    font-size: 20px;
}
.font-size-3{
    font-size: 50px;
}
.font-size-4{
    font-size:30px;
}

.text-end{
    text-align: end;
}

/* font classes end */